<template lang="pug">
  .FlipBook__view(ref="view")
    .FlipBook__wrapper
      .FlipBook(ref="book")
      .FlipBook__pageSelector(ref="nav")
        input.FlipBook__pageSelector_input(@change="goto",v-model="value")
        span.FlipBook__pageSelector_separator &nbsp;/&nbsp;
        span.FlipBook__pageSelector_count(ref="pages")
    .FlipBook__titleBar
      .FlipBook__titleBar_title(ref="title") Comic Book Reader
      xButton.FlipBook__titleBar_button.xButton--iconized(event="App_close",action="")
        xIcon(icon="times",size="medium")
    .FlipBook__options
      xButton.FlipBook__options_button.xButton--iconized(event="FlipBook_open",action="")
        xIcon(icon="folder-open",size="medium")
      xButton.FlipBook__options_button.xButton--iconized(event="FlipBook_fullscreen",action="")
        xIcon(icon="expand-arrows-alt",size="medium")
      xButton.FlipBook__options_button.xButton--iconized(event="FlipBook_maximized",action="")
        xIcon(icon="expand",size="medium")
</template>



<script lang="ts">
  import { Component, Prop, Provide, Vue } from "vue-property-decorator";
  import { $, $on, EventBus, As, StringBuilder } from "../../xi-libs/core";
  import { Zip } from "../../xi-libs/io";
  import StreamZip from 'node-stream-zip';
  import { remote, BrowserWindow } from 'electron';

  @Component
  export default class FlipBook extends Vue {
    value: string = "";
    max: number = 0;
    isHardCover: boolean = false;
    ratio: number = 1;
    isFullScreen: boolean = false;
    isMaximized: boolean = false;
    hasContent: boolean = false;

    goto() {
      let book: HTMLElement = this.getBook();
      let page: number = parseInt(this.value);

      $(book).turn('page', Math.min(this.max, Math.max(1, page)));
    }

    mounted(){
      let that = this;

      //this.open('static/ltb_test.cbz');

      $on('App_close', e => {
        remote.getCurrentWindow().close();
      });
      $on('FlipBook_open', e => {
        this.showOpenDialog();
      });
      $on('FlipBook_fullscreen', e => {
        this.isFullScreen = !this.isFullScreen;
        remote.getCurrentWindow().setFullScreen(this.isFullScreen);
      });
      $on('FlipBook_maximized', e => {
        this.isMaximized = !this.isMaximized;

        (this.$refs.title as HTMLElement).style.display = this.isMaximized ? 'none' : 'block';
        (this.$refs.nav as HTMLElement).style.display = this.isMaximized ? 'none' : 'block';
        (this.$refs.view as HTMLElement).style.paddingTop = this.isMaximized ? '10px' : '64px';
        (this.$refs.view as HTMLElement).style.paddingBottom = this.isMaximized ? '10px' : '64px';

        this.resize();
      });

      window.addEventListener('resize', this.resize);

      (this.$refs.title as HTMLElement).addEventListener('click', e => {
        this.showOpenDialog();
      });
    }

    showOpenDialog(){
      const {dialog} = require('electron').remote;
      let that = this;

      dialog.showOpenDialog({
        filters: [{ name: 'comic books', extensions: ['zip', 'cbz'] }]
      }, function (fileNames) {
        if (fileNames === undefined) return;
        var fileName = fileNames[0];

        if (fileName) {
          that.open(fileName);
        }
      }); 
    }

    getBook(): HTMLElement {
      return this.$refs.book as HTMLElement;
    }

    resize() {
      let book: HTMLElement = this.getBook();

      if(this.hasContent && book && book.parentElement){
        book.style.width = '';
        book.style.height = '';

        let width = book.parentElement.clientWidth,
            height = Math.round(width / this.ratio),
            padded = Math.round(book.parentElement.clientHeight * 1/*0.9*/);

        if (height > padded) {
          height = padded;
          width = Math.round(height * this.ratio);
        }

        book.style.width = width + 'px';
        book.style.height = height + 'px';
        book.style.display = 'block'; // TBD hide when start reading

        $(book).unbind("turning", this.updatePageInfo);
        $(book).turn('size', width, height);
        $(book).bind("turning", this.updatePageInfo);

        if (String(book.style.transform).indexOf('translateY') == -1) {
          book.style.transform = book.style.transform + ' translateY(-50%) translateX(-50%)';
        }

        book.style.top = '50%';
        book.style.left = '50%';
        let bounds: DOMRect = book.getBoundingClientRect() as DOMRect;

        (this.$refs.nav as HTMLElement).style.top = (bounds.y + bounds.height - 30/*book padding*/ - 32/*nav padding*/) + 'px';
      }
    }

    updatePageInfo(event, page, view) {
      this.value = page;
    }

    open(zipPath) {
      this.hasContent = false;

      let book: HTMLElement = this.getBook();

      if ($(book).turn('is')) {
        $(book).turn('destroy');
      }

      while (book.firstChild) {
        book.removeChild(book.firstChild);
      }

      new Zip(zipPath, zip => {
        this.max = zip.length;

        let pageIndex = 0;
        let firstPage: boolean = false;
        let that = this;

        // TODO use worker, show loader
        zip.forEach(zipEntry => {
          let fold: HTMLDivElement = document.createElement('DIV') as HTMLDivElement;
          fold.classList.add('FlipBook__fold');
          fold.classList.add(pageIndex % 2 == 1 ? 'FlipBook__fold--right':'FlipBook__fold--left');

          let page: HTMLDivElement = document.createElement('DIV') as HTMLDivElement;
          page.classList.add('FlipBook__page');
          page.style.backgroundImage = 'url(' + zip.getAsURL(zipEntry) + ')';
          page.style.backgroundSize = '100% 100%';

          if(pageIndex > 0 && pageIndex < this.max - 1){
            page.appendChild(fold);
          }
          if(this.isHardCover && 
            (pageIndex < 2 || pageIndex >= this.max - 2)){
            page.classList.add('hard');
          }

          book.appendChild(page);

          pageIndex++;
          this.hasContent = true;
        });

        if (this.hasContent) {
          $(book).turn({
              autoCenter: false
          });
        }

        let zipName = zipPath.substring(zipPath.split('\\').join('/').lastIndexOf('/')+1);


        (this.$refs.pages as HTMLElement).innerText = String(this.max);
        (this.$refs.title as HTMLElement).innerText = As.capitalizeAll(zipName.substring(0, zipName.lastIndexOf('.')).replace('_', ' '));
        this.value = '1';
        this.ratio = 1.38; // TBD auto check for best ratio
        this.resize();
      });
    };
  }
</script>



<style lang="sass">
  @import ../../xi-components/_xi-mixins

  $FlipBook_info_color: #999
  $FlipBook_info_weight: bold
  $FlipBook_info_size: 1.1rem

  .FlipBook
    display: none

    & .shadow
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15)

    &__view
      width: 100%
      height: 100%
      position: relative
      padding: 64px 30px
      background-color: #ddd

    &__wrapper
      width: 100%
      height: 100%
      position: relative
    &__options
      position: absolute
      width: 64px
      height: 204px
      left: 5px
      bottom: 5px

      &_button
        width: 100%
        height: 64px
        margin: 0
        padding: 0
        float: left
        margin-bottom: 6px

    &__titleBar
      position: absolute
      top: 0
      left: 0
      width: 100%
      display: flex
      font-size: 20px
      font-weight: bold
      line-height: 64px
      color: $FlipBook_info_color
      opacity: .35

      &_button
        width: 64px
        height: 64px
        margin: 0
        padding: 0
      &_title
        flex: 1
        margin: 0 20px
        -webkit-app-region: drag

    &__fold
      background-color: red
      position: absolute
      top: 0
      height: 100%
      &--left
        left: 0
        width: 8px
        background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%)
      &--right
        right: 0
        width: 16px
        background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%)
    &__pageSelector
      +transition(opacity 1s)
      opacity: .25
      position: absolute
      text-align: center
      padding: 15px
      width: 100%
      left: 0
      &:hover
        opacity: 1
      &_separator
        color: $FlipBook_info_color
        font-weight: $FlipBook_info_weight
        font-size: $FlipBook_info_size
      &_input
        background: none
        border: none
        outline: none
        color: $FlipBook_info_color
        font-weight: $FlipBook_info_weight
        font-size: $FlipBook_info_size
        width: 100px
        text-align: right
      &_count
        color: $FlipBook_info_color
        font-weight: $FlipBook_info_weight
        font-size: $FlipBook_info_size
        display: inline-block
        width: 100px
        text-align: left
    &__page
      background-color: #eee
      color: #000
      overflow: hidden

      & > img
        width: 100%
        height: 100%
        object-fit: cover
</style>
