[fx-ripple]
  position: relative
  overflow: hidden
[fx-ripple] .fx-ripple--container
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
[fx-ripple] .fx-ripple--container span
  transform: scale(0)
  border-radius: 100%
  position: absolute
  opacity: 0.06275
  background-color: var(--fx-ripple)
  animation: fx-ripple 1000ms
@keyframes fx-ripple
  to
    opacity: 0
    transform: scale(2)
