[fx-highlight]
  position: relative
  overflow: hidden
[fx-highlight] .fx-highlight--container
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  pointer-events: none
[fx-highlight] .fx-highlight--container span
  opacity: 1
  border-radius: 100%
  position: absolute
  pointer-events: none
  background: radial-gradient(circle at 50%, var(--fx-highlight-start) 0%, var(--fx-highlight-end) 75%)
  transition: opacity .5s

.xDebug
  [fx-highlight] .fx-highlight--container span
    border: 1px solid red
