=size($size...)
  width: nth($size, 1)
  height: nth($size, 2)
=bounds($bounds...)
  top: nth($bounds, 1)
  left: nth($bounds, 2)
  width: nth($bounds, 3)
  height: nth($bounds, 4)
=transition($props...)
  -webkit-transition: $props
  -moz-transition: $props
  transition: $props
=filter($props...)
  -webkit-filter: $props
  -moz-filter: $props
  -o-filter: $props
  -ms-filter: $props
  filter: $props
=box-shadow($props...)
  -moz-box-shadow: $props
  -webkit-box-shadow: $props
  box-shadow: $props
=font-antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
=animation($props)
  -webkit-animation: $props
  -moz-animation: $props
  animation: $props
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
    //  0%
    //    background-position: 0% 50%
    //  50%
    //    background-position: 100% 50%
    //  100%
    //    background-position: 0% 50%
  @-moz-keyframes #{$name}
    @content
    //  0%
    //    background-position: 0% 50%
    //  50%
    //    background-position: 100% 50%
    //  100%
    //    background-position: 0% 50%
  @keyframes #{$name}
    @content
    //  0%
    //    background-position: 0% 50%
    //  50%
    //    background-position: 100% 50%
    //  100%
    //    background-position: 0% 50%
