// SASS has issues to deal with '--' (s. var's) at begin of a selector, so we use SCSS here

@import "./_xi-mixins";
@import "./_plugin-fx-highlight";
@import "./_plugin-fx-ripple";

$bg__alpha--default: .5;

$theme_font--default: 'Ubuntu', sans-serif;
$theme_font--mono: 'Ubuntu Mono', monospace;
$theme_font_size--default: 14px;

$theme_color_background: #FFF;
$theme_color_prime: #07F;
$theme_color_control: #333;
$theme_color_control--highlight: $theme_color_prime;

$theme_padding--default: 1.2rem;
$theme_padding_control--default: $theme_padding--default 2.4rem;

.theme {
  --icon-opacity-default: 0.25;
  --icon-opacity-highlight: 1;
  &--light {
    --brd-app: #AAA;
    --fg-default: #333;
    --fg-header: #888;
    --fg-header-highlight: #333;
    --fg-menu: #333;
    --fg-control: #333;
    --fg-control-highlight: #fff;
    --fg-form: #bbb;
    --fg-form-value: #333;
    --fg-form-highlight: #777;
    --bg-default: #fff;
    --bg-panel: #bbb;
    --bg-default-alpha: rgba(192, 192, 192, 0.75);
    --bg-textComponent-alpha: rgba(255, 255, 255, 0.1);
    --bg-menu: rgba(127, 127, 127, 0.5);
    --bg-control-light: #ccc;
    --bg-control-lighter: #ddd;
    --bg-control-lightest: #eee;
    --bg-input: #bbb;
    --bg-input-error: #900;
    --bg-input-disabled: #d99;
    --bg-container-alpha: rgba(192, 192, 192, 0.375);
    --icon-opacity-default: 0.25;
    --icon-opacity-highlight: 1;
    --fx-highlight-start: rgba(0, 0, 0, 0.05);
    --fx-highlight-end: rgba(0, 0, 0, 0);
    --fx-ripple: #000;
  }
  &--dark {
    --brd-app: #555;
    --fg-default: #eee;
    --fg-header: #888;
    --fg-header-highlight: #bbb;
    --fg-menu: #eee;
    --fg-control: #888;
    --fg-control-highlight: #9cf;
    --fg-form: #666;
    --fg-form-value: #fff;
    --fg-form-highlight: #ddd;
    --bg-default: #222;
    --bg-panel: #555;
    --bg-default-alpha: rgba(63, 63, 63, 0.75);
    --bg-textComponent-alpha: rgba(0, 0, 0, 0.1);
    --bg-menu: rgba(23, 23, 23, 0.5);
    --bg-control-light: #2b2b2b;
    --bg-control-lighter: #222;
    --bg-control-lightest: #111;
    --bg-input: #666;
    --bg-input-error: #c44;
    --bg-input-disabled: #a66;
    --bg-container-alpha: rgba(63, 63, 63, 0.375);
    --icon-opacity-default: 0.25;
    --icon-opacity-highlight: 1;
    --fx-highlight-start: rgba(255, 255, 255, 0.05);
    --fx-highlight-end: rgba(255, 255, 255, 0);
    --fx-ripple: #fff;
  }
}
