<template lang="pug">
  .xAccordion
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import xTab from "./xTab.vue";

  @Component
  export default class xAccordion extends Vue {
    currentTab: xTab | undefined;

    @Prop(String) selected!: string;

    changeTab(tab: xTab) {
      if (this.currentTab) {
        this.currentTab.hide();
      }
      this.currentTab = tab;
      if (this.currentTab) {
        this.currentTab.show();
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xAccordion
    border-radius: 5px
    background-color: var(--bg-control-light)

    .xTab
      &__label
        padding: 0 10px
        height: 48px
        line-height: 48px

        &:before
          font-family: 'Font Awesome 5 Free'
          font-weight: bold
          width: 16px
          display: inline-block
          content: '\f054'
          padding-right: 10px

        &--selected
          font-weight: bold // Note: font needs to be bold to show FontAwesome Icons!

          &:before
            content: '\f078'

      &__content
        background-color: var(--bg-control-lighter)
        border-radius: 5px
        padding: 10px
</style>
