<template lang="pug">
  .appWidget
    .appWidget__background(ref="background")
    .appWidget__title {{ title }}
    .appWidget__content
      slot
</template>



<script lang="ts">
  import { Component, Provide, Prop, Vue } from "vue-property-decorator";
  import { xi } from "../xi-libs/core";

  @Component
  export default class AppWidget extends Vue {
    @Provide("title") title = "App Name";
    @Prop(String) image!: string;

    mounted() {
      if (this.image) {
        xi.$(this.$refs.background).css("backgroundImage", `url('${this.image}')`);
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .appWidget
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: auto
    grid-template-rows: 64px auto
    grid-template-areas: 'header' 'content'
    background-color: var(--bg-default)

    &__background
      content: ''
      width: 100vw
      height: 100vh
      position: absolute
      top: 0
      left: 0
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: cover
      z-index: 0
      opacity: .15

    &__title
      grid-area: header
      background-color: var(--bg-menu)
      color: var(--fg-menu)
      font-size: 2rem
      line-height: 64px
      padding-left: 64px + 8px
      overflow: hidden
      position: relative
      z-index: 1

    &__content
      grid-area: content
      overflow: hidden
      position: relative
      z-index: 1
</style>
