<template lang="pug">
  .xArticle
    h3.xArticle__headline {{ headline }}
    .xArticle__content
      slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xArticle extends Vue {
    @Prop(String) headline!: string;
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xArticle
    padding: 4rem 4rem
    margin: 0
    background-color: var(--bg-container-alpha) // rgba(255,255,255,.3)
    width: 100%
    height: 100%
    pointer-events: none

    & *
      pointer-events: auto

    &__headline
      margin-top: 0
      color: currentColor
      font-size: 1.5em
      text-transform: uppercase

    &__content
      color: currentColor
      padding-left: 1rem
      font-size: 1em
      text-transform: uppercase
      white-space: pre-wrap
</style>










