<template lang="pug">
  .xBar
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { xi } from "../xi-libs/core";

  @Component
  export default class xBar extends Vue {
    @Prop(String) size!: string;

    mounted() {
      if (this.size) {
        xi.$(this).css("minHeight", this.size);
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xBar
    width: 100%
    min-height: 64px
    background-color: rgba(0,0,0,.25)
    color: white
</style>