<template lang="pug">
  button.xButton(
    fx-ripple,
    fx-highlight,
    @click="doClick"
    :data-label-def="defLabel"
    :data-label-sel="selLabel"
    :disabled="disabled")
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { $fire } from "../xi-libs/core";

  @Component
  export default class xButton extends Vue {
    @Prop(String) label!: string;
    @Prop(String) labelSelected!: string;
    @Prop(String) event!: string;
    @Prop(String) target!: string;
    @Prop(String) action!: string;
    @Prop(String) disabled!: string;


    get defLabel() {
      return this.label;
    }

    get selLabel() {
      return this.labelSelected || this.label;
    }

    doClick() {
      if (!this.disabled) {
        if (this.event) {
          $fire(this, this.event, this.action, this.findReference(this.target));
        } else {
          console.error("Missing event type on xButton");
        }
      } else {
        console.error("Button is disbaled");
      }
    }

    findReference(refId: string) { // TODO make util
      let vue: Vue = this;

      while (vue) {
        let ref = vue.$refs[refId];

        if (ref) {
          return ref;
        }
        vue = vue.$parent;
      }
      return null;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xButton
    background-color: var(--bg-control-lightest)
    border: 2px solid var(--bg-control-lightest)
    border-radius: 2px
    outline: none
    margin: 5px
    padding: 0
    position: relative
    padding: $theme_padding_control--default
    overflow: hidden
    cursor: pointer
    color: var(--fg-control)
    font-weight: bold
    box-sizing: border-box

    &:before, &:after
      display: inline-block
      content: attr(data-label-def)
      pointer-events: none
      +transition(all 0.3s)

    &:after
      content: attr(data-label-sel)

    &:before
      color: currentColor
      position: relative
      transform: translateY(0px)
      opacity: 1

    &:after
      color: $theme_color_control--highlight
      opacity: 0
      position: absolute
      padding: $theme_padding_control--default
      top: 0
      left: 0
      transform: translateY(-100%)

    &:hover:not(:disabled)
      &:before
        opacity: 0
        transform: translateY(calc(100% + 1rem + 1rem))
      &:after
        opacity: 1
        transform: translateY(0)

    &--small
      padding: 8px 12px
      &:after
        padding: 8px 12px

    &--iconized
      background-color: transparent !important
      color: var(--fg-control)
      border: 2px solid transparent // #eee
      &:after
        color: $theme_color_prime !important

    &--outlined
      background-color: transparent !important
      color: var(--fg-control)
      border: 2px solid var(--bg-control-lightest) // #eee
      &:after
        color: $theme_color_prime !important

    &--prime
      color: var(--fg-default) // rgba(255, 255, 255, .75)
      &.xButton--outlined
        color: var(--fg-control)
      background-color: $theme_color_prime
      border-color: $theme_color_prime
      &:after
        color: var(--fg-control-highlight)

    &:disabled
      cursor: not-allowed
      color: rgba(191, 0, 0, .75)
      background-color: #D99
      border-color: #D99
</style>
