<template lang="pug">
  label.xCheckBox
    input(
      type="checkbox"
      v-model="inputVal"
      checked
      :disabled="disabled"
    )
    //  id="input_uuid"
    span.xCheckBox__label {{ label }}
    span.xCheckBox__checkmark
</template>



<script lang="ts">
  import { Component, Prop, Watch, Vue } from "vue-property-decorator";

  @Component
  export default class xCheckBox extends Vue {
    inputVal = "";

    @Prop(String) label!: string;
    @Prop(String) type!: string;
    @Prop(String) value!: string;
    @Prop(String) pattern!: string;
    @Prop(String) placeholder!: string;
    @Prop(String) invalid!: string;
    @Prop(String) valid!: string;
    @Prop(String) text!: string;
    @Prop(String) disabled!: string;

    @Watch("inputVal")
    onInputValChanged(val: string, oldVal: string) {
      if (!this.disabled) {
        this.$emit("input", val);
      }
    }

    mounted() {
      if (this.type === null) {
        this.type = "text";
      }
      this.inputVal = this.value;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xCheckBox
    display: inline-block
    position: relative
    padding-left: 2rem
    margin-bottom: .3rem
    margin-top: 1rem
    cursor: pointer
    font-size: 1rem
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    min-width: 16px
    min-height: 33px
    margin-right: 32px
    color: var(--fg-form)

    & > *
      display: inline-block
      vertical-align: middle

  .xCheckBox input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

  .xCheckBox__checkmark
    position: absolute
    top: 0
    left: 0
    height: $theme_font_size--default
    width: $theme_font_size--default
    +transition(all 0.3s)

    &:after
      border-color: var(--fg-form)

  .xCheckBox .xCheckBox__checkmark:after
    +transition(all 0.3s)
    left: 0
    top: 0
    width: 100%
    height: 100%
    border: solid var(--fg-form)
    border-width: 2px 2px 2px 2px
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)

  .xCheckBox__label
    +transition(all 0.3s)

  .xCheckBox input:disabled ~ .xCheckBox__label
    color: var(--bg-input-disabled)
    cursor: not-allowed

  .xCheckBox input:disabled ~ .xCheckBox__checkmark:after
    border-color: var(--bg-input-disabled)
    cursor: not-allowed

  .xCheckBox:hover input:not(:checked):not(:disabled) ~ .xCheckBox__checkmark:after
    border-color: var(--fg-form-highlight)

  .xCheckBox:hover input:not(:disabled) ~ .xCheckBox__label
    color: var(--fg-form-highlight)

  .xCheckBox input:checked ~ .xCheckBox__checkmark:after
    border-color: $theme_color_prime

  .xCheckBox__checkmark:after
    content: ""
    position: absolute

  .xCheckBox input:checked ~ .xCheckBox__checkmark:after
    left: .4rem
    top: -.2rem
    width: .5rem
    height: 1rem
    border-width: 0 2px 2px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)
</style>
