<template lang="pug">
  span.xColorPicker
    input.xColorPicker__input(type="color",:id="id",v-model="colorModel")
    span.xColorPicker__control(:color="colorModel", ref="color_field")
</template>



<script lang="ts">
  import { Component, Prop, Provide, Watch, Vue } from "vue-property-decorator";
  import { xi, $fire } from "../xi-libs/core";

  @Component
  export default class xColorPicker extends Vue {
    @Prop(String) id!: string;
    @Prop(String) color!: string;

    @Provide("colorModel") colorModel = "";

    @Watch("colorModel")
    onColorModelChange(val: string, oldVal: string) {
      xi.$(this.$refs.color_field).css("backgroundColor", this.colorModel);

      $fire(this, "xColorPicker_colorChanged", {
        id: this.id,
        color: this.colorModel
      }, null/*target?*/);
    }

    mounted() {
      if (this.color) {
        this.colorModel = this.color;
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xColorPicker
    margin: 4px
    position: relative
    width: 48px
    height: 24px
    &__input
      width: 100%
      height: 100%
      opacity: 0
    &__control
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: 12px
      pointer-events: none !important
      border: 2px solid #777
      padding: 5px
      background-clip: content-box
  </style>
