<template lang="pug">
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { remote, Menu, MenuItem } from 'electron';

  @Component
  export default class xContextMenu extends Vue {
  }
</script>



<style lang="sass">
  @import ./_xi-components

</style>
