<template lang="pug">
  .xContainer
    slot
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class xContainer extends Vue {}
</script>



<style lang="sass">
  @import ./_xi-components

  .xContainer
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    pointer-events: none

    & > *
      pointer-events: auto
</style>
