<template lang="pug">
  .xFlip(ref="flip")
    .xFlip__card
      .xFlip__card_front
        slot(name="front")
        .xFlip__shadow_front
      .xFlip__card_back
        slot(name="back")
        .xFlip__shadow_back
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xFlip extends Vue {
    @Prop(String) trigger!: string;

    mounted() {
      if (this.trigger) {
        switch (this.trigger) {
          case "custom":
            this.$el.classList.toggle("xFlip--clickable");
            break;
          case "click":
            this.$el.classList.toggle("xFlip--clickable");
            (this.$refs.flip as HTMLElement).addEventListener("click", () => this.flip());
            break;
        }
      }
    }

    flip() {
      this.$el.classList.toggle("xFlip--clicked");
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xFlip
    perspective: 1000px
    width: 100%
    height: 100%

    &:not(.xFlip--clickable):hover,
    &.xFlip--clickable.xFlip--clicked
      .xFlip__card
        transform: rotateY(180deg)

      .xFlip__shadow_front
        animation-direction: reverse
        -webkit-animation: front_out 0.6s
      .xFlip__shadow_back
        animation-direction: reverse
        -webkit-animation: back_out 0.6s

    &__card
      width: 100%
      height: 100%
      transition: 0.6s
      transform-style: preserve-3d
      position: absolute
      top: 0
      left: 0
      &_front,
      &_back
        width: 100%
        height: 100%
        backface-visibility: hidden
        position: absolute
        top: 0
        left: 0
        background-color: var(--bg-panel)
      &_front
        z-index: 2
        transform: rotateY(0deg)
      &_back
        transform: rotateY(180deg)
    &__shadow_back
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      pointer-events: none
      background: linear-gradient(270deg, rgba(0,0,0,.4), rgba(0,0,0,0) 50%, rgba(0,0,0,0))
      background-size: 400% 400%
      +animation(back_in 0.6s)
      +keyframes(back_in)
        0%
          background-position: 0% 50%
        50%
          background-position: 100% 50%
        100%
          background-position: 0% 50%
      +keyframes(back_out)
        0%
          background-position: 0% 50%
        50%
          background-position: 100% 50%
        100%
          background-position: 0% 50
    &__shadow_front
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      pointer-events: none
      background: linear-gradient(270deg, rgba(255,255,255,.5), rgba(0,0,0,0) 50%, rgba(0,0,0,0))
      background-size: 400% 400%
      +animation(front_in 0.6s)
      +keyframes(front_in)
        0%
          background-position: 0% 50%
        50%
          background-position: 100% 50%
        100%
          background-position: 0% 50%
      +keyframes(front_out)
        0%
          background-position: 0% 50%
        50%
          background-position: 100% 50%
        100%
          background-position: 0% 50%
</style>
