<template lang="pug">
  .xFxManager
    svg(xmlns="http://www.w3.org/2000/svg",version="1.1")
      defs
        filter#goo(v-if="goo !== undefined")
          // TBD make some parameter configurable > stdDeviation, values/18 -7
          feGaussianBlur(in="SourceGraphic",stdDeviation="5",result="blur")
          feColorMatrix(in="blur",mode="matrix",values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7",result="goo")
          feBlend(in="SourceGraphic",in2="goo")
        radialGradient#Gradient2(cy="60%",fx="95%",fy="70%",r="2")
          stop(offset="0%",stop-color="#ED6E46")
          stop(offset="10%",stop-color="#b4c63b")
          stop(offset="10%",stop-color="#ef5b2b")
          stop(offset="100%",stop-color="#ab6294")
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { EventBus } from "../xi-libs/core";

  @Component
  export default class xFxManager extends Vue {

    @Prop(String) goo!: string;
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xFxManager
</style>
