<template lang="pug">
  xGrid(:ratio="imageRatio", :columns="columns")
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xGroup extends Vue {
    @Prop(String) columns!: string;
    @Prop(String) ratio!: string;

    get imageRatio() {
      return this.ratio || "1:1";
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xGallery
    & > .xImage > img
      position: absolute // needed for the aspect ratio
    & > .xOverlay > .xImage
      position: absolute // needed for the aspect ratio
</style>
