<template lang="pug">
  .xGooeyKnob
    .xGooeyKnob__neck(ref="neck")
    slot
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class xGooeyKnob extends Vue {

    isActive: boolean = false;
    knobOffset: number = 15;
    knobSize: number = 50;

    mounted(){
      let neck: HTMLElement = this.$refs.neck as HTMLElement;

      this.$el.style.width = this.knobSize+'px';
      this.$el.style.height = this.knobSize+'px';
      this.$el.style.lineHeight = this.knobSize+'px';
      
      if (neck){
        let neckSize = this.knobSize/4;
        neck.style.left= (-this.knobOffset) + 'px';
        neck.style.top= ((this.knobSize-neckSize)/2) + 'px';
        neck.style.width= this.knobOffset + 'px';
        neck.style.height= neckSize + 'px';
      }

      this._setBackgroundPosition();
      this.$el.addEventListener('click', e=>{
        this.isActive = !this.isActive;
        this.$el.classList.toggle('xGooeyKnob--active');
        this._setBackgroundPosition();
      });
    }

    _setBackgroundPosition(){ // TBD sort of 'sharedBackground' option, make generic
      let neck: HTMLElement = this.$refs.neck as HTMLElement;

      if (this.$el.parentElement && neck) {
        let parentBounds = this.$el.parentElement.getBoundingClientRect();
        let distance = parentBounds.width + this.knobOffset; // some extra distance to show 'neck'
        let ownBounds = this.$el.getBoundingClientRect();
        let neckBounds = neck.getBoundingClientRect();
        let xA = ownBounds.left - parentBounds.left;
        let xB = 0;
        let yA = ownBounds.top - parentBounds.top;
        let yB = Math.trunc((ownBounds.height - neckBounds.height) / 2) + yA;
        if (this.isActive) {
          xA=-distance;
          xB=-(distance-this.knobOffset);
        }else{
          xA=0;
          xB=this.knobOffset;
        }
        yA=-yA;
        neck.style.backgroundPosition = xB + 'px ' + (-yB) + 'px';
        this.$el.style.backgroundPosition = xA + 'px ' + yA + 'px';
        this.$el.style.left = (-xA) + 'px';
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xGooeyKnob
    +transition(left .5s ease-out, background-position .5s ease-out)
    position: relative
    left: 0
    text-align: center
    color: white
    font-size: 40px
    border-radius: 100%
    background-color: black
    background-size: 400px 400px
    background-position: 0 0
    &__neck
      +transition(left .5s ease-out, background-position .5s ease-out)
      position: absolute
      left: 0
      background-color: black
      background-size: 400px 400px
</style>
