<template lang="pug">
  .xGooeyPanel(style="pointer-events:all;")
    slot
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class xGooeyPanel extends Vue {
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xGooeyPanel
    +transition(background-image .5s 2s)
    background-color: black
    background-size: 400px 400px
    background-position: 0 0
    width: 100%
    height: 100%
    filter: url('#goo')
    border-radius: 10px
</style>
