<template lang="pug">
  .xGrid.xGrid--dynamic
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { xi, As } from "../xi-libs/core";

  @Component
  export default class xGrid extends Vue {

    static MODIFIERS: Array<string> = [];
    static CSS_RULES: CSSStyleSheet | null = null; // TBD use a more global place for this (root-level)

    @Prop(String) columns!: string;
    @Prop(String) ratio!: string;

    mounted(){
      // we wrap all childs so we have control about the dimension for each cell
      xi.$(this.$el.childNodes).wrap('<div class="xGrid__cell"><div class="xGrid__cell_content"></div></div>');
      xi.$(this.$el).css('grid-template-columns', As.repeated('1fr ', parseInt(this.columns || '4')));

      if (this.ratio) {
        let match = /(\d+):(\d+)/.exec(this.ratio);

        if (match && match.length == 3) {
          // TBD make this more generic >>>
          let modifier = `xGrid--${match[1]}_to_${match[2]}`;

          if (!xGrid.MODIFIERS.includes(modifier)) {
            if(xGrid.CSS_RULES === null){
              let sheets: StyleSheetList = document.styleSheets; // returns an Array-like StyleSheetList
              xGrid.CSS_RULES = document.styleSheets[0] as CSSStyleSheet;
              let style: HTMLStyleElement = document.createElement("style");
              style.appendChild(document.createTextNode(""));
              if (document.head) {
                document.head.appendChild(style);
              }
            }
            let factor = parseInt(match[2]) / parseInt(match[1]) * 100;
            xGrid.CSS_RULES.addRule(`.${modifier} > .xGrid__cell:before`, `padding-top: ${factor}%`, 1);
            xGrid.MODIFIERS.push(modifier);
          }
          // <<<
          xi.$(this.$el).class('-xGrid--dynamic'); // no need to a dynamic grid anymore, we have a specific ratio now
          xi.$(this.$el).class(modifier);
        }
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xGrid
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr // important: if it is set to pixel it is stronger than the aspect ratio behaviour, so use dynamic values!

    & > .xGrid__cell:before // as we use :before it is important to know that the placed content shouldn't use a :before for itself, otherwise we might overwrite it!
      content: ''
      width: 1px // this element can't be relative as it has to extend the cell, but being relative it uses some space. as we just need the height we can set the width to 1px and, additional...
      margin-left: -1px // ...we use margin-left: -1px so that the content isn't shifted by this 'extender'
      float: left
      height: 0 // the extender has no height, padding-top does the trick
      //padding-top: 100% // initial aspect ratio, which is 1:1 <- this is now done by JS in order to provide a way to make the aspect dynamic and configurable as HTML-Attribute
    &__cell
      overflow: hidden
      width: 100%
      height: 100%
      position: relative
      &_content
        position: absolute
        top: 0 // 5px
        left: 0 // 5px
        right: 0 // 5px
        bottom: 0 // 5px
        overflow: hidden
    &--dynamic
      .xGrid__cell
        overflow: auto
      .xGrid__cell_content
        overflow: auto
        position: relative
  .xDebug .xGrid__cell
    border: 1px dashed rgba(255, 255, 255, .125)
</style>
