<template lang="pug">
  .xGroup
    .xGroup__background(ref="background")
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { xi } from "../xi-libs/core";

  @Component
  export default class xGroup extends Vue {
    @Prop(String) label!: string;
    @Prop(String) image!: string;

    mounted() {
      let headers = Array.from(this.$el.getElementsByClassName("xGroup__header"));
      let headerFound = false;

      headers.forEach(header => {
        // TODO create util
        if (header.parentElement === this.$el) {
          headerFound = true;
        }
      });
      if (!headerFound) {
        let defaultHeader = document.createElement("H2");
        defaultHeader.classList.add("xGroup__header");
        defaultHeader.textContent = this.label;

        if (this.$el.childNodes.length > 0) {
          this.$el.insertBefore(defaultHeader, this.$el.childNodes[0]);
        } else {
          this.$el.appendChild(defaultHeader);
        }
      }
      if (this.image) {
        xi.$(this.$refs.background) //
          .css("backgroundImage", `radial-gradient(circle at top right, transparent, #222), url('${this.image}')`);
      } // TODO remove node from dom
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xGroup
    padding-top: .25rem
    padding-left: 10rem
    padding-right: 2rem
    padding-bottom: 3rem
    +transition(all 0.3s)

    &__background
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background: none
      opacity: .25
      background-size: cover
      z-index: -1

    &:hover
      background-color: rgba(0,0,0,.01)

      h2
        color: var(--fg-header-highlight)
        padding-left: .25rem

      > .xGroup:hover
        h2
          color: var(--fg-header-highlight)
          padding-left: .5rem

    h2
      +transition(all 0.3s)
      padding-left: 0
      font-size: 1.5rem
      margin-left: -1.5rem
      margin-bottom: 2rem
      color: var(--fg-header)

    > .xGroup
      padding-left: 2rem
      padding-right: 0

      h2
        color: var(--fg-header)
        font-size: 1.1rem

      > .xGroup
        h2
          color: var(--fg-header)
          font-size: .9rem
</style>
