<template lang="pug">
  xOverlay.xHero
    xImage(:src="image", width_="100%", :behaviour="behaviour", :fx="fx")
    template(slot="overlay")
      slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xHero extends Vue {
    @Prop(String) image!: string;
    @Prop(String) behaviour!: string;
    @Prop(String) fx!: string;
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xHero
</style>
