<template lang="pug">
  i.xIcon(:class="iconCls")
</template>



<script lang="ts">
  import { Component, Prop, Provide, Vue } from "vue-property-decorator";

  @Component
  export default class xIcon extends Vue {
    @Prop(String) icon!: string;
    @Prop(String) size!: string;

    @Provide("iconCls") iconCls = "";

    mounted() {
      this.iconCls = `xIcon--${this.size} fas fa-${this.icon}`;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  $xIconSizeDefs: (16 small) (32 medium) (64 normal) (128 large)

  .xIcon
    +transition(color 0.3s, opacity 0.3s)
    color: currentColor

    // defines all sizes
    @each $sizeDef in $xIconSizeDefs
      $size: nth($sizeDef, 1)
      $label: nth($sizeDef, 2)
      &--#{$label}
        text-align: center
        line-height: #{$size}px !important
        width: #{$size}px
        height: #{$size}px
        font-size: #{$size}px
</style>
