<template lang="pug">
  xButton.xIconButton(:event="event", :action="action"): xIcon(:icon="icon", :size="size")
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xIconButton extends Vue {
    @Prop(String) event!: string;
    @Prop(String) action!: string;
    @Prop(String) icon!: string;
    @Prop(String) size!: string;
    @Prop(String) minimal!: string;

    mounted(){
      if (this.minimal !== undefined) {
        this.$el.removeAttribute('fx-ripple');
        this.$el.removeAttribute('fx-highlight');
        this.$el.classList.add('xIconButton--minimal');
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xIconButton
    padding: 1.2rem // make cubic but use same 1.2rem as on button (keep in sync)

    & .xIcon
      opacity: var(--icon-opacity-default)

    &:hover
      & .xIcon
        opacity: var(--icon-opacity-highlight)
    &--minimal
      border: none
      background: none
      margin: 0
      padding: 0
</style>
