<template lang="pug">
  .xImage(
    @mouseenter_="onMouseMove"
    @mousemove_="onMouseMove"
    @mouseout_="onMouseOut"
  ): img.xImage__img(:src="getSource")
</template>



<script lang="ts">
  import { Component, Prop, Provide, Vue } from "vue-property-decorator";
  import { Timer, xi } from "../xi-libs/core";

  @Component
  export default class xImage extends Vue {
    image: HTMLImageElement | undefined = undefined;
    resetTimer: Timer | undefined = undefined;
    offset: any = { x: 0, y: 0 };

    @Prop(String) src!: string;
    @Prop(String) size!: string;
    @Prop(String) fx!: string;
    @Prop(String) behaviour!: string;
    @Prop(String) cover!: string;
    @Prop(String) contain!: string;
    @Prop(String) fill!: string;
    @Provide("imgSource") imgSource = "";

    onMouseOut(e) {
      if (this.image && !this.resetTimer) {
        this.resetTimer = new Timer(
          state => {
            if (state === "end") {
              this.resetTimer = undefined;
            } else if (this.image && this.resetTimer) {
              this.image.style.marginLeft = this.resetTimer.get(0) + "px";
              this.image.style.marginTop = this.resetTimer.get(1) + "px";
            }
          },
          this.offset.x,
          this.offset.y
        );
        this.resetTimer.start();
      }
    }

    onMouseMove(e) {
      if (this.image) {
        let width: number = this.$el.offsetWidth,
          height: number = this.$el.offsetHeight,
          imgWidth: number = this.$el.offsetWidth * 1.15,
          imgHeight: number = this.$el.offsetHeight * 1.15,
          centerX: number = width / 2,
          centerY: number = height / 2;
        let wDelta = (imgWidth - width) / 2;
        let hDelta = (imgHeight - height) / 2;

        this.offset.x = (e.offsetX - centerX) / centerX;
        this.offset.y = (e.offsetY - centerY) / centerY;

        this.offset.x = -(wDelta * this.offset.x);
        this.offset.y = -(hDelta * this.offset.y);

        this.image.style.marginLeft = this.offset.x + "px";
        this.image.style.marginTop = this.offset.y + "px";
      }
    }

    get getSource() {
      return this.imgSource || this.src;
    }

    setSource(src: string) {
      this.imgSource = src;
    }

    mounted() {
      let behaviourValue: string | undefined = undefined;
      this.$el.style.width = this.size;
      this.image = this.$el.getElementsByTagName("IMG")[0] as HTMLImageElement;

      if (this.fx !== undefined) {
        this.$el.classList.add("xImage--fx");
      }

      behaviourValue = this.behaviour !== undefined ? this.behaviour : behaviourValue;
      behaviourValue = this.cover !== undefined ? 'cover' : behaviourValue;
      behaviourValue = this.contain !== undefined ? 'contain' : behaviourValue;
      behaviourValue = this.fill !== undefined ? 'fill' : behaviourValue;

      if (behaviourValue) {
        let img: HTMLImageElement = this.$el.getElementsByClassName(
          "xImage__img"
        )[0] as HTMLImageElement;

        xi.$(this).css({ width: "100%", height: "100%" });
        xi.$(img).css({ objectFit: behaviourValue, width: "100%", height: "100%" });
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xImage
    display: inline-block
    height: auto // important to keep the aspect ratio
    overflow: hidden
    position: relative

    img
      width: 100%
      height: auto
      transform: scale(1) // need to be set before we can use transition on it
      +transition(width .5s, height .5s, transform .5s)
    span
      display: inline-block
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0

    &--fx
      &:after
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        position: absolute
        +box-shadow(inset 0 0 0 #000)
        +transition(box-shadow .5s)

      img
        transform: scale(1.05)
      &:hover
        &:after
          //+box-shadow(inset 0 0 100px #000)

        img
          transform: scale(1.15)

      &-push
        &:after
          content: ''
          width: 100%
          height: 100%
          position: absolute
          +box-shadow(inset 0 0 0 #000)
          +transition(box-shadow .5s)

        img
          transform: scale(1.15)
        &:hover
          &:after
            +box-shadow(inset 0 0 100px #000)

          img
            transform: scale(1.05)
</style>
