<!-- TBD this should be a shared singleton! -->
<template lang="pug">
  .xImageView
    .xImageView__title Image Title
      div(style="position: absolute; width:32px;height:32px;right:32px;top:32px;cursor:pointer", @click="onClick")
        xIcon(icon="times", size="medium")
    .xImageView__viewPort
      xImage(src="", behaviour="contain", ref="image")
      //slot
    .xImageView__info Image Infos
</template>


<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";
  import xImage from "./xImage.vue";

  @Component
  export default class xImageView extends Vue {

    onClick() {
      this.$el.style.display = "none";
      this.blur(false);
    }

    view(imageElement: HTMLElement) {
      if (imageElement && imageElement.classList.contains("xImage")) {
        let img = imageElement.getElementsByTagName("IMG")[0];
        let imgSrc = img.getAttribute("src");
        let image: xImage = this.$refs.image as xImage;
        console.log("start viewing");
        console.log(imgSrc);

        if (imgSrc) {
          image.setSource(imgSrc);
        }
        this.$el.style.display = "grid";
        this.blur(true);
      }
    }

    blur(isBlurred) {
      let appContent = this.$root.$children[0];
      appContent.$el.classList[isBlurred ? "add" : "remove"]("app--blurred");
      console.log(appContent.$el);
    }

    mounted() {
      // TBD make this a plugin?
      // putting this directly under body gives use the option to use filter on
      // the whole content while this imageview is not inflicted
      document.body.appendChild(this.$el);

      // finding those images being 'viewable'
      let viewables = Array.from(document.querySelectorAll("[viewable]"));

      viewables.forEach(viewable => {
        viewable.addEventListener("click", e => {
          this.view(viewable as HTMLElement);
        });
      });
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xImageView
    display: none
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: 1000
    background-image: radial-gradient(farthest-corner at 100% 0, rgba(255,255,255,.5) 0%, rgba(0,0,0,.5) 100%)
    grid-template-rows: 10vh 80vh 10vh
    +box-shadow(inset 0 0 20px #000)

    &__title
      width: 80vh
      margin: 0 auto
      color: #eee
      font-weight: bold
      font-size: 2rem
      text-align: center
      line-height: 10vh
    &__viewPort
      height: 100%
      margin: 0 auto
      position: relative
    &__info
      width: 80vh
      margin: 0 auto
      color: #eee
      font-weight: bold
      font-size: 1rem
      text-align: center
      padding-top: 10px
</style>
