<template lang="pug">
  .xInfo(style="display:table;")
    div(style="display:table-cell;vertical-align:middle;")
      h4.xInfo__project {{ project }}
      h3.xInfo__title {{ title }}
      .xInfo__deco
      //.xInfo__content
        slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xInfo extends Vue {
    @Prop(String) project!: string;
    @Prop(String) title!: string;
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xInfo
    padding: 4em 4em
    margin: 0
    background-color: rgba(255,255,255,.3)
    width: 100%
    height: 100%
    pointer-events: none
    display: table-cell

    &__project
      margin-top: 0
      color: currentColor
      font-size: 1em
      text-transform: uppercase
      text-align: center
      vertical-align: middle
      font-weight: 100
    &__title
      margin-top: 0
      color: currentColor
      font-size: 1.25em
      text-transform: uppercase
      text-align: center
      vertical-align: middle
    &__deco
      position: relative
      width: 80px
      height: 2px
      left: 50%
      margin-left: -40px
      background-color: #07F
      vertical-align: middle
</style>










