<template lang="pug">
  select.xInlineSelect(v-model="selected")
    slot
</template>



<script lang="ts">
  import { Component, Watch, Vue } from "vue-property-decorator";

  @Component
  export default class xInlineSelect extends Vue {
    selected = "";

    @Watch("selected")
    onSelectedChanged(val: string, oldVal: string) {
      this.stretch();
      this.$emit("change", val);
    }

    mounted() {
      this.stretch();
    }

    stretch() {
      var element = this.$el as HTMLSelectElement;
      var cs = getComputedStyle(element);
       var selectedIndex = element.selectedIndex > 0 ? element.selectedIndex : 0;

      // Need to use dummy element to measure :(
      var option = document.createElement("_");
      option.textContent = element.options[selectedIndex].textContent;

      if (element.parentNode) {
        element.parentNode.insertBefore(option, element.nextSibling);
      }

      // The name of the appearance property, as it might be prefixed
      var appearance;

      for (var property in cs) {
        var value = cs[property];
        if (
          !/^(width|webkitLogicalWidth|length)$/.test(property) &&
          typeof value == "string"
        ) {
          option.style[property] = value;

          if (/appearance$/i.test(property)) {
            appearance = property;
          }
        }
      }

      option.style.width = "";

      if (option.offsetWidth > 0) {
        element.style.width = option.offsetWidth + "px";

        if (!cs[appearance] || cs[appearance] !== "none") {
          // Account for arrow
          element.style.width = "calc(" + element.style.width + " + 2em)";
        }
      }

      if (option.parentNode !== null) {
        option.parentNode.removeChild(option);
      }
       //option = null;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xInlineSelect
    background-color: transparent
    display: inline-block
    font-size: inherit
    font-weight: inherit
    color: inherit
    border: none

    &:hover
      background-color: rgba(0, 0, 0, .1)

    &:focus
      outline-width: 0
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)

    option
      font-size: 1rem
</style>
