<template lang="pug">
  span.xInlineButton(@click="doClick")
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { $fire } from "../xi-libs/core";

  @Component
  export default class xInlineButton extends Vue {
    @Prop(String) event!: string;
    @Prop(String) action!: string;

    doClick(e) {
      if (this.event) {
        $fire(this, this.event, this.action, null/*target?*/);
      } else {
        console.error("Missing this.event");
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xInlineButton
    cursor: pointer
    width: fit-content

    &:hover
      border-bottom: 2px solid currentColor
</style>
