<template lang="pug">
  span.xDynamicText(
    contenteditable="true"
    @input="onInputBlur()"
    v-model="inputVal"
    :class="{'xDynamicText--empty': isEmpty}"
  ) {{inputVal}}
</template>

<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xInlineTextField extends Vue {
    inputVal = "";
    isEmpty = true;

    @Prop(String) value!: string;
    @Prop(String) text!: string;

    onInputBlur(e: Event) {
      let text: string = this.$el.innerText;
      this.isEmpty = text.length === 0;
      this.$emit("input", text);
    }

    mounted() {
      this.isEmpty = this.value.length === 0;
      this.inputVal = this.value;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xDynamicText
    padding: 0 .25rem
    min-width: 10px
    box-sizing: border-box

    &:hover
      background-color: rgba(0, 0, 0, .1)

    &:focus
      outline-width: 0
      box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2)
    &--empty
      border: 1px dashed rgba(0, 0, 0, .25)
      margin: 0 .25rem
</style>
