<template lang="pug">
  div.xInput
    input(id="input_uuid", :type="type", v-model="inputVal", placeholder=" ", :pattern="pattern", :disabled="disabled")
    label(for="input_uuid", :data-placeholder="placeholder", :data-invalid="invalid", :data-valid="valid")
</template>



<script lang="ts">
  import { Component, Prop, Watch, Vue } from "vue-property-decorator";

  @Component
  export default class xInput extends Vue {
    inputVal = "";

    @Prop(String) type!: string;
    @Prop(String) value!: string;
    @Prop(String) pattern!: string;
    @Prop(String) placeholder!: string;
    @Prop(String) invalid!: string;
    @Prop(String) valid!: string;
    @Prop(String) text!: string;
    @Prop(String) disabled!: string;

    @Watch("inputVal")
    onInputValChanged(val: string, oldVal: string) {
      if (!this.disabled) {
        this.$emit("input", val);
      }
    }

    mounted() {
      if (this.type === null) {
        this.type = "text";
      }
      this.inputVal = this.value;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xInput
    display: inline-block
    position: relative
    margin: .3rem .3rem
    margin-top: 1rem

    input
      +transition(all 0.3s)
      font-size: 1rem
      padding: .5rem 1rem
      background-color: transparent
      border-top: none
      border-left: none
      border-right: none
      border-bottom: 2px solid var(--bg-input)
      color: var(--fg-form-value)
      width: auto
      position: relative
      font-weight: normal
      display: inline-block
      outline: none
      font-weight: bold

      &:hover:not(:disabled)
        border-bottom: 2px solid var(--fg-form-highlight)
        & ~ label:after
          color: var(--fg-form-highlight)

      &:focus:not(:disabled)
        outline-width: 0
        border-bottom: 2px solid $theme_color_prime

    label
      +transition(all 0.3s)
      padding: .5rem 1rem
      content: 'placeholder'
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      pointer-events: none
      display: inline-block
      font-weight: normal
      font-size: 1rem

      &:after
        position: absolute
        display: inline-block
        top: .5rem
        left: 1rem
        content: attr(data-placeholder)
        color: var(--fg-form)
        +transition(all 0.3s)

    input:disabled
      border-bottom: 2px solid var(--bg-input-disabled)
      cursor: not-allowed

    input:disabled + label:after
      color: var(--bg-input-disabled)
      cursor: not-allowed

    input:not(:placeholder-shown) + label:after,
    input:focus + label:after
      font-weight: bold
      color: var(--bg-input)
      top: -1.2rem

    input:focus + label:after
      color: $theme_color_prime

    input:not(:placeholder-shown):invalid
      border-bottom: 2px solid var(--bg-input-error)

      & + label[data-invalid]:after
        color: var(--bg-input-error)
        content: attr(data-invalid)

    input:not(:placeholder-shown):valid
      & + label[data-valid]:after
        color: var(--bg-input)
        content: attr(data-valid)
</style>
