<!--
Note: the 'trigger' must provide pixel-related width/height, percentage values aren'<template>
  provided out-of-the-box via getBoundingClientRect() and need to be calculated (what isn't
  supported by this component (yet))
</template>

-->

<template lang="pug">
  .xKeyHolePanel(ref="keyHolePanelOuter")
    .xKeyHolePanel__clip(ref="keyHolePanelClip")
      .xKeyHolePanel__content(ref="keyHolePanelInner")
        slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { setTimeout, clearTimeout } from 'timers';
  import { $ } from "../xi-libs/core";

  @Component
  export default class xKeyHolePanel extends Vue {
    isExtended: boolean = false;
    timeOutLock: any | undefined = undefined;
    prevSize: number = 0;
    // TODO add limiter for width/height

    @Prop(String) radius!: string;
    @Prop(String) background!: string;

    mounted(){
      let clip: HTMLElement = this.$refs.keyHolePanelClip as HTMLElement;
      let content: HTMLElement = this.$refs.keyHolePanelInner as HTMLElement;
      let trigger: HTMLElement = $('[trigger]', this.$el).get(0); 

      if(this.radius !== undefined){
        clip.style.borderRadius = this.radius;
      }
      if(this.background !== undefined){
        content.style.background = this.background;
      }

      if(trigger){
        let khpo: HTMLElement = this.$refs.keyHolePanelOuter as HTMLElement;
        let khpc: HTMLElement = this.$refs.keyHolePanelClip as HTMLElement;
        let khpi: HTMLElement = this.$refs.keyHolePanelInner as HTMLElement;

        let bndsO: DOMRect = khpo.getBoundingClientRect() as DOMRect;
        let bndsC: DOMRect = khpc.getBoundingClientRect() as DOMRect;
        let bndsT: DOMRect = trigger.getBoundingClientRect() as DOMRect;

        // TODO adapt outer/inner to view (include limiter) -> also adapt when resizing!
        this.getBounds(trigger);

        khpc.style.top = (bndsT.y - bndsC.y) + 'px';
        khpc.style.left = (bndsT.x - bndsC.x) + 'px';
        khpc.style.width = bndsT.width + 'px';
        khpc.style.height = bndsT.height + 'px';
        khpi.style.top = '-' + bndsT.y + 'px';
        khpi.style.left = '-' + bndsT.x + 'px';
        khpi.style.width = bndsO.width + 'px';
        khpi.style.height = bndsO.height + 'px';

        trigger.addEventListener('click', e => {
          if(!this.timeOutLock){
            this.isExtended = !this.isExtended;

            //if (this.isExtended) {
              let boundsT: DOMRect = trigger.getBoundingClientRect() as DOMRect;

              let boundsO: DOMRect = khpo.getBoundingClientRect() as DOMRect;

              let boundsC: DOMRect = khpc.getBoundingClientRect() as DOMRect;
              let top = Math.trunc(boundsC.y);
              let left = Math.trunc(boundsC.x);

              let boundsI: DOMRect = khpi.getBoundingClientRect() as DOMRect;
              let top2 = Math.trunc(boundsI.y) - boundsC.y;
              let left2 = Math.trunc(boundsI.x) - boundsC.x;

              let khpcCX = boundsC.x + boundsC.width / 2;
              let khpcCY = boundsC.y + boundsC.height / 2;
              let tlX = boundsO.x;
              let tlY = boundsO.y;
              let trX = boundsO.x + boundsO.width;
              let trY = boundsO.y;
              let blX = boundsO.x;
              let blY = boundsO.y + boundsO.height;
              let brX = boundsO.x + boundsO.width;
              let brY = boundsO.y + boundsO.height;

              let farest = 0;
              let dist = 0;

              if(this.isExtended) {
                this.prevSize = boundsT.width;
              }
              if((dist=this.getDistance(khpcCX, khpcCY, tlX, tlY))>farest){
                farest=dist;
              }
              if((dist=this.getDistance(khpcCX, khpcCY, trX, trY))>farest){
                farest=dist;
              }
              if((dist=this.getDistance(khpcCX, khpcCY, blX, blY))>farest){
                farest=dist;
              }
              if((dist=this.getDistance(khpcCX, khpcCY, brX, brY))>farest){
                farest=dist;
              }

              let maxSize = Math.trunc(farest * 2) + 10;
              let size = this.isExtended ? maxSize : this.prevSize;
              let s = this.isExtended ? this.prevSize : maxSize;
              let s1 = Math.trunc((s-size)/2);

              khpc.style.width = size + 'px';
              khpc.style.height = size + 'px';
              khpc.style.top = (top + s1) + 'px';
              khpc.style.left = (left + s1) + 'px';

              khpi.style.top = (top2 - s1 /*subtract all border/padding/etc if set on labClipperOuter!!!*/) + 'px';
              khpi.style.left = (left2 - s1 /*subtract all border/padding/etc if set on labClipperOuter!!!*/) + 'px';

              this.timeOutLock = window.setTimeout(this.unlock, 500);
            //}
          }
        });
      }

      window.addEventListener('resize', this.adapt);
    }

    adapt(){
      // TODO to adapt keep in mind: when doing the open/close effect we're working with
      // pixel BUT either the outer as the inner element might have settings that are different
      // (pixel/percentage) and so we need to switch between what the effect does and how the
      // element shows when out-of-effect
    }

    unlock() {
      if(this.timeOutLock){
        clearTimeout(this.timeOutLock);

        this.timeOutLock = undefined;
      }
    }

    getDistance(p1x, p1y, p2x, p2y){
      let deltaY = p1y - p2y;
      let deltaX = p1x - p2x;
      return Math.sqrt((deltaY * deltaY) + (deltaX * deltaX));
    }

    getBounds(elm: HTMLElement): DOMRect {
      let bounds: DOMRect = elm.getBoundingClientRect() as DOMRect;

      let clWidth = elm.clientWidth;
      let ofWidth = elm.offsetWidth;
      let e = $(elm);

      return bounds;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xKeyHolePanel
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    pointer-events: none
    //border: 5px solid red

    &__clip
      +transition(all 500ms)
      position: absolute
      left: 0
      top: 0
      width: 64px
      height: 64px
      //background-color: #eee
      //border-radius: 100%
      overflow: hidden
      pointer-events: auto
      //border: 3px dashed blue

    &__content
      +transition(all 500ms)
      position: relative
      left: 0
      top: 0
      width: 32px
      height: 32px
      //background-color: green
</style>
