<template lang="pug">
  .xMenuPanel
    xMenuIcon.xMenuPanel__icon
    .xMenuPanel__header Settings
    .xMenuPanel__content
      slot
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";
  import { $on } from "../xi-libs/core";

  @Component
  export default class xMenuPanel extends Vue {
    mounted() {
      $on("xMenuIcon_clicked", e => {
        if (e.action) {
          this.$el.classList.add("xMenuPanel--open");
        } else {
          this.$el.classList.remove("xMenuPanel--open");
        }
      });
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  $xMenuPanel__size: 384px

  .xMenuPanel
    +transition(all 0.3s)
    position: absolute
    background-color: transparent
    top: 0
    left: -$xMenuPanel__size
    width: $xMenuPanel__size
    height: 100vh
    pointer-events: none
    z-index: 1000
    display: grid
    grid-template-columns: 64px auto
    grid-template-rows: 64px auto
    grid-template-areas: "icon header" "content content"
    +box-shadow(0 0 0 rgba(0,0,0,.5))

    & *
      pointer-events: auto

    &__header
      grid-area: header
      font-size: 2rem
      color: var(--fg-default)
      line-height: 64px
      padding-left: 16px
    &__content
      opacity: 0
      grid-area: content
      padding-top: 8px
      padding-bottom: 8px
      padding-left: 24px
      padding-right: 16px
    &--open
      left: 0
      background-color: var(--bg-default)
      +box-shadow(0 0 50px rgba(0,0,0,.5))

      .xMenuPanel__content // TODO not optimal
        opacity: 1
</style>
