<template lang="pug">
  .xMenuIcon(@click="onClick")
    span
    span
    span
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";
  import { $fire } from "../xi-libs/core";

  @Component
  export default class xMenuIcon extends Vue {
    isActive: boolean = false;

    onClick(e) {
      this.isActive = !this.isActive;

      if (this.isActive) {
        this.$el.classList.add("xMenuIcon--active");
      } else {
        this.$el.classList.remove("xMenuIcon--active");
      }
      $fire(this, "xMenuIcon_clicked", this.isActive, null/*target?*/);
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  $xMenuIcon_barSize: 4px

  .xMenuIcon
    width: 26px
    height: 20px
    position: fixed
    top: 22px
    left: 22px
    z-index: 1000
    color: currentColor
    cursor: pointer
    opacity: var(--icon-opacity-default)

    span
      +transition(all 0.3s)
      display: inline-block
      position: absolute
      width: 100%
      height: $xMenuIcon_barSize
      background-color: currentColor
      opacity: 1
      border-radius: 2px
    span:nth-child(1)
      top: 0
    span:nth-child(2)
      top: 50%
      margin-top: -($xMenuIcon_barSize / 2)
    span:nth-child(3)
      bottom: 0
    &:hover
      opacity: var(--icon-opacity-highlight)
    &--active
      color: #999
      span:nth-child(1)
        transform: translate(0px,8px) rotate(45deg)
      span:nth-child(2)
        opacity: 0
      span:nth-child(3)
        transform: translate(0px,-8px) rotate(-45deg)
</style>
