<template lang="pug">
  .xModal
    .xModal__dialog
      .xModal__dialog_title
        .xModal__dialog_title_label {{ title }}
        xIconButton.xModal__dialog_title_close(event="xModal_close",action="TODO_modalUUID", icon="times", size="medium", style="width: 40px;", minimal)
      .xModal__dialog_content
        slot
</template>


<script lang="ts">
  import { Component, Provide, Vue } from "vue-property-decorator";
  import { xi, $on } from "../xi-libs/core";

  @Component
  export default class xModal extends Vue {
    type: string | null = null;

    @Provide("title") title = "<Dialog>";

    mounted() {
      $on("xModal_close", e => {
        xi.$(this).class("-xModal--open");
        if (this.type) {
          xi.$(this).class("-xModal--" + this.type);
        }
      });
      $on("xModal_open", e => {
        this.title = e.action.title;
        this.type = e.action.type;

        xi.$(this).class("+xModal--open");
        if (this.type) {
          xi.$(this).class("+xModal--" + this.type);
        }
      });
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  $xModal__titleBarSize: 40px

  .xModal
    +transition(all 0.3s)
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 10000
    background-color: transparent
    display: grid
    grid-template-columns: auto minmax(min-content, max-content) auto
    grid-template-rows: auto minmax(min-content, max-content) auto
    grid-template-areas: "a a a" "b dialog c" "d d d"
    pointer-events: none

    &--error
      & .xModal__dialog_title
        background-color: rgba(191, 0, 0, .35) // TBD make var
    &--info
      & .xModal__dialog_title
        background-color: rgba(127, 127, 127, .35) // TBD make var
    &--success
      & .xModal__dialog_title
        background-color: rgba(0, 191, 0, .35) // TBD make var
    &--warn
      & .xModal__dialog_title
        background-color: rgba(191, 191, 0, .35) // TBD make var
    &--question
      & .xModal__dialog_title
        background-color: rgba(0, 127, 255, .35) // TBD make var

    &--open
      pointer-events: auto
      background-color: rgba(0,0,0,.75)
      & .xModal__dialog
        opacity: 1
        transform: translateY(0)
        min-width: 300px
        min-height: 150px

    &__dialog
      +transition(all 0.3s)
      opacity: 0
      transform: translateY(-50px) // same as Lazy, share!
      grid-area: dialog
      min-width: 200px
      min-height: 150px
      background-color: var(--bg-default)
      box-shadow: 0 10px 20px rgba(0,0,0,.1)
      position: relative
      display: grid
      grid-template-columns: auto
      grid-template-rows: $xModal__titleBarSize auto
      grid-template-areas: "title" "content"
      border-radius: 4px

      &_title
        background-color: var(--bg-control-light)
        grid-area: title
        padding: 0 16px
        padding-right: 8px
        line-height: $xModal__titleBarSize
        height: $xModal__titleBarSize
        font-weight: bold
        font-size: 1.2rem
        border-radius: 4px 4px 0 0
        display: flex
        justify-content: space-between
        position: relative
        &_label
          display: inline-block
        &_close
          padding: 0
      &_content
        grid-area: content
        height: 100%
        padding: 8px 16px  8px 16px
</style>
