<!-- TBD Make DEPRECATED! -->
<template lang="pug">
  xIconButton(
    :class="{ ui__nav_next: action === 'next', ui__nav_prev: action === 'prev', }"
    :event="event"
    :action="action"
    :icon="icon"
    :size="size",
    minimal)
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xNavButton extends Vue {
    size: string = "medium";

    @Prop(String) type!: string;
    @Prop(String) action!: string;

    get icon() {
      return this.action === "prev" ? "angle-left" : "angle-right";
    }
    get event() {
      return this.type;
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xNavButton
    color: var(--fg-menu)
</style>
