<template lang="pug">
  .xOverlay
    slot
    .xOverlay__overlay
      slot(name="overlay")
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class xOverlay extends Vue {}
</script>



<style lang="sass">
  @import ./_xi-components

  .xOverlay
    display: inline-block
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    &__overlay
      +transition(all 0.75s)
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      opacity: 1
      pointer-events: none

    &--fadeIn &
      &__overlay
        opacity: 0
    &--fadeIn:hover &
      &__overlay
        opacity: 1

    &--fadeOut &
      &__overlay
        opacity: 1
    &--fadeOut:hover &
      &__overlay
        opacity: 0

    &--top:hover &
      &__overlay
        top: -100%
        opacity: 0
    &--left:hover &
      &__overlay
        top: 0
        left: -100%
        opacity: 0
    &--bottom:hover &
      &__overlay
        top: 100%
        opacity: 0
    &--right:hover &
      &__overlay
        top: 0
        left: 100%
        opacity: 0

    &--outside &
      &__overlay
        opacity: 0
    &--outside.xOverlay--top &
      &__overlay
        top: -100%
        left: 0
    &--outside.xOverlay--left &
      &__overlay
        top: 0
        left: -100%
    &--outside.xOverlay--bottom &
      &__overlay
        top: 100%
        left: 0
    &--outside.xOverlay--right &
      &__overlay
        top: 0
        left: 100%
    &--outside:hover &
      &__overlay
        top: 0
        left: 0
        opacity: 1
</style>
