<template lang="pug">
  .xPage(style="background-color:#333;")
    .xPage__background(ref="background")
    .xPage__container
      .xPage__header
        slot(name="header")
      .xPage__content
        slot(name="content")
      .xPage__footer
        slot(name="footer")
</template>

<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xPage extends Vue {
    @Prop(String) image!: string;
    @Prop(String) opacity!: string;

    mounted() {
      if (this.image) {
        (this.$refs.background as HTMLElement).style.backgroundImage = `url('${
          this.image
        }')`;
      }
      if(this.opacity){
        (this.$refs.background as HTMLElement).style.opacity = this.opacity;
      }
    }
  }
</script>

<style lang="sass">
  @import ./_xi-components

  .xPage
    width: 100%
    height: 100%
    background-color: #eee

    &__background
      content: ''
      width: 100vw
      height: 100vh
      position: absolute
      top: 0
      left: 0
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: cover
      z-index: 0
      opacity: .15
    &__header
      grid-area: header
      z-index: 3000
    &__footer
      grid-area: footer
    &__content
      padding: 16px 16px 0 64px
      grid-area: content
      position: relative
    &__container
      opacity: .99
      z-index: 1
    &--layout
      &-default
        overflow-x: hidden
        overflow-y: auto
        .xPage
          &__container
            width: 100%
            overflow-x: auto
            overflow-y: auto
            height: 100%
            position: relative
          &__header
            position: -webkit-sticky
            position: sticky
            top: 0
          &__footer
            opacity: .99
            width: 100%

      &-static
        .xPage
          &__container
            height: 100%
            display: grid
            grid-template-rows: minmax(0, max-content) minmax(auto, max-content) minmax(0, max-content)
            grid-template-areas: "header" "content" "footer"
          &__content
            overflow-x: hidden
            overflow-y: auto
</style>