<template lang="pug">
  .xPanel
    slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";

  @Component
  export default class xPanel extends Vue {
    @Prop(String) width!: string;
    @Prop(String) height!: string;
    @Prop(String) fx!: string;
    @Prop(String) aspectRatio!: string;
    @Prop(String) columns!: string;

    mounted() {
      // TBD remove grid option, add TableLayout instead (Grid is now in xGrid-Component)
      let isGrid = this.$el.classList.contains("layout__grid");

      if (this.width && this.height) {
        this.$el.classList.add("layout__size");
        this.$el.style.width = this.width;
        this.$el.style.height = this.height;
        this.$el.style.minWidth = this.width;
        this.$el.style.minHeight = this.height;
      }
      if (this.fx !== undefined) {
        this.$el.classList.add("xPanel--fx");
      }
      if (isGrid) {
        if (this.aspectRatio !== undefined) {
          let matches = /(\d+)\:(\d+)/.exec(this.aspectRatio);

          if (matches) {
            this.$el.classList.add(
              `layout__grid--aspectRatio${matches[1]}-${matches[2]}`
            );
          }
        }
        if (this.columns !== undefined) {
          this.$el.classList.add(`layout__grid--${this.columns}`);
        }
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  $xPanelAspectRatios: (1 1) (1 2) (1 3) (1 4) (2 1) (3 1) (4 1) (16 9) (9 16) (4 3) (3 4) (16 10) (10 16)

  .xPanel
    +transition(all 0.3s)

    &.layout__size
      display: block

    &.layout__row
      display: block
      & > *
        width: 100%
        float: left
    &.layout__grid
      display: grid
      grid-template-columns: repeat(12, (100% / 12))
      min-height: 200px

      @each $aspectRatio in $xPanelAspectRatios
        $a: nth($aspectRatio, 1)
        $b: nth($aspectRatio, 2)
        &--aspectRatio#{$a}-#{$b}
          place-items: start

          & > *
            width: 100%
          & > *::before
            content: ""
            display: inline-block
            width: 1px
            height: 0
            position: relative
            margin-left: -1px
            padding-bottom: calc(100% / (#{$a}/#{$b}))

      @for $i from 1 through 12
        &--#{$i}
          grid-template-columns: repeat(#{$i}, (100% / #{$i}))

    &--fx
      &:hover
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2)
</style>
