<template lang="pug">
  label.xRadioButton
    input(
      type="radio"
      @change="onChange"
      :name="name"
      :disabled="disabled"
      :checked="checked"
    )
    span.xRadioButton__label {{ label }}
    span.xRadioButton__checkmark
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import { $fire } from "../xi-libs/core";

  @Component
  export default class xRadioButton extends Vue {
    @Prop(String) name!: string;
    @Prop(String) label!: string;
    @Prop(String) type!: string;
    @Prop(String) value!: string;
    @Prop(String) pattern!: string;
    @Prop(String) placeholder!: string;
    @Prop(String) invalid!: string;
    @Prop(String) valid!: string;
    @Prop(String) text!: string;
    @Prop(String) disabled!: string;
    @Prop(String) event!: string;
    @Prop(String) action!: string;
    @Prop(String) checked!: string;

    onChange() {
      if (!this.disabled) {
        if (this.event) {
          console.log("fire! " + this.event + "," + this.action);
          $fire(this, this.event, this.action, null/*target?*/);
        } else {
          console.error("Missing event type on xRadioButton");
        }
      } else {
        console.error("RadioButton is disabled");
      }
    }

    mounted() {
      if (this.type === null) {
        this.type = "text";
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xRadioButton
    display: inline-block
    position: relative
    padding-left: 2rem
    margin-bottom: .3rem
    margin-top: .1rem
    cursor: pointer
    font-size: 1rem
    user-select: none
    min-width: 16px
    min-height: 33px
    margin-right: 32px
    color: var(--fg-form)

  .xRadioButton__label
    +transition(all 0.3s)

  .xRadioButton > *
    display: inline-block
    vertical-align: middle

  .xRadioButton input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

  .xRadioButton__checkmark
    position: absolute
    top: 0
    left: 0
    height: 18px
    width: 18px
    background-color: var(--fg-form)
    border-radius: 50%
    +transition(all 0.3s)

  .xRadioButton input:disabled ~ .xRadioButton__label
    color: var(--bg-input-disabled)
    cursor: not-allowed

  .xRadioButton input:disabled ~ .xRadioButton__checkmark
    background-color: var(--bg-input-disabled)
    cursor: not-allowed

  .xRadioButton:hover input:not(:disabled) ~ .xRadioButton__checkmark
    background-color: var(--fg-form-highlight)

  .xRadioButton:hover input:not(:disabled) ~ .xRadioButton__label
    color: var(--fg-form-highlight)

  .xRadioButton input:checked ~ .xRadioButton__checkmark
    background-color: $theme_color_prime

  .xRadioButton__checkmark:after
    content: ""
    position: absolute
    +transition(all 0.3s)

  .xRadioButton input:checked ~ .xRadioButton__checkmark
    top: 5px
    left: 5px
    width: 8px
    height: 8px

  .xRadioButton input:checked ~ .xRadioButton__checkmark:after
    top: 0
    left: 0
    background: $theme_color_prime

  .xRadioButton .xRadioButton__checkmark:after
    top: 5px
    left: 5px
    width: 8px
    height: 8px
    border-radius: 50%
    background: var(--bg-default)
</style>
