<template lang="pug">
  div.xScrollPane
    slot
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class xScrollPane extends Vue {}
</script>



<style lang="sass">
  @import ./_xi-components

  .xScrollPane
    border: 1px solid var(--bg-input)
    min-height: 2rem
    overflow-y: auto
    overflow-x: hidden
</style>
