<template lang="pug">
  .xSelect
    select(ref="select")
      slot
</template>



<script lang="ts">
  import { Component, Watch, Vue } from "vue-property-decorator";

  @Component
  export default class xSelect extends Vue {

    static GLOBAL_SELECT_LISTENER: any = undefined;

    selected = "";

    @Watch("selected")
    onSelectedChanged(val: string, oldVal: string) {
      this.$emit("change", val);
    }

    mounted() {
      var select, editor, popup;
      select =  this.$refs.select;
      editor = document.createElement("DIV");
      editor.setAttribute("class", "xSelect__editor");
      editor.innerHTML = select.options[select.selectedIndex].innerHTML;
      this.$el.appendChild(editor);
      popup = document.createElement("DIV");
      popup.setAttribute("class", "xSelect__popup xSelect__popup--hide");

      for (let j = 1; j < select.length; j++) {
        let item: HTMLDivElement = document.createElement("DIV") as HTMLDivElement;
        item.classList.add('xSelect__item');
        item.innerHTML = select.options[j].innerHTML;
        item.addEventListener("click", function(e) {
          var prevSelected;
          for (let i = 0; i < select.length; i++) {
            if (select.options[i].innerHTML == item.innerHTML) {
              select.selectedIndex = i;
              editor.innerHTML = item.innerHTML;
              prevSelected = (item.parentNode as HTMLElement).getElementsByClassName("same-as-selected");
              for (let k = 0; k < prevSelected.length; k++) {
                prevSelected[k].classList.remove("same-as-selected");
              }
              item.classList.add("same-as-selected");
              break;
            }
          }
          editor.click();
        });
        popup.appendChild(item);
      }
      this.$el.appendChild(popup);
      editor.addEventListener("click", function(e) {
        e.stopPropagation();
        xSelect.closeAllSelect(editor);
        editor.nextSibling.classList.toggle("xSelect__popup--hide");
        editor.classList.toggle("xSelect__editor--open");
      });

      if (!xSelect.GLOBAL_SELECT_LISTENER) {
        xSelect.GLOBAL_SELECT_LISTENER = xSelect.closeAllSelect;
        document.addEventListener("click", xSelect.closeAllSelect);
      }
    }

    static closeAllSelect(elmnt) {
      var x, y, i, arrNo = new Array();
      x = document.getElementsByClassName("xSelect__popup");
      y = document.getElementsByClassName("xSelect__editor");
      for (i = 0; i < y.length; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i);
        } else {
          y[i].classList.remove("xSelect__editor--open");
        }
      }
      for (i = 0; i < x.length; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("xSelect__popup--hide");
        }
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components
  
  .xSelect
    width: 200px
    position: relative
    font-family: Arial
    display: inline-block
    margin: 5px
    cursor: pointer
    font-weight: bold
    & select
      display: none
  .xSelect__editor
    background-color: var(--bg-control-lightest)
    border: 2px solid var(--bg-control-lightest)
    border-radius: 2px
    color: var(--fg-control)
    padding: 1.2rem 2.4rem
    &:after
      position: absolute
      content: ""
      top: calc(50% - 3px)
      right: 10px
      width: 0
      height: 0
      border: 6px solid transparent
      border-color: var(--fg-control) transparent transparent transparent
    &.xSelect__editor--open:after
      border-color: transparent transparent var(--fg-control) transparent
      top: calc(50% - 10px)
    &.xSelect__editor--open
      border-color: var(--fg-control)
      border-radius: 2px 2px 0 0
      border-bottom: 1px solid rgba(255,255,255,.05)
      background-color: rgba(255,255,255,.001)
  .xSelect__item
    padding: 1.2rem
    border-bottom: 1px solid rgba(255,255,255,.05)
  .xSelect__popup
    position: absolute
    background-color: var(--bg-control-lightest)
    border: 2px solid var(--fg-control)
    border-top-width: 0
    border-radius: 0 0 2px 2px
    top: 100%
    left: 0
    right: 0
    z-index: 99
  .xSelect__popup div,
  .xSelect__editor
    cursor: pointer
  .xSelect__popup--hide
    display: none
  .xSelect__popup div:hover,
  .same-as-selected
    background-color: rgba(0, 0, 0, 0.1)
</style>
