<template lang="pug">
  .xSlideLayout
    slot
</template>



<script lang="ts">
  import { Component, Prop, Provide, Vue } from "vue-property-decorator";
  import { $on, $ancestor } from "../xi-libs/core";

  @Component
  export default class xSlideLayout extends Vue {
    @Prop(String) layout!: string;
    @Provide("index") index = 0;
    @Provide("slideTime") slideTime = "1000";

    doSlide(e) {
      let delta = 0;

      switch (e) {
        case "next":
          delta = 1;
          break;
        case "prev":
          delta = -1;
          break;
      }

      let i = this.index + delta;
      let lastIndex = this.index;

      if (i != this.index && i >= 0 && i < this.$children.length) {
        this.$children[this.index].$el.style.opacity = "0";
        this.index = i;
        this.$children[this.index].$el.style.opacity = "1";

        if (this.layout === "horizontal") {
          this.$el.style.left = `-${this.index * 100}%`;
        } else {
          this.$el.style.top = `-${this.index * 100}%`;
        }
      }
    }

    mounted() {
      if (this.layout === "horizontal") {
        this.$el.classList.add("xSlideLayout--horizontal");
      }

      this.$el.style["transition"] = `top ${this.slideTime}, left ${
        this.slideTime
      }ms`;
      this.$el.style["-webkit-transition"] = `top ${this.slideTime}, left ${
        this.slideTime
      }ms`;

      for (let i = 0; i < this.$children.length; i++) {
        this.$children[i].$el.style.opacity =
          i == 0 /*TODO define initial index*/ ? "1" : "0";
      }
    }
  }

  $on("slide", e => {
    let slideLayout: xSlideLayout;
    if (e.target instanceof xSlideLayout) {
      slideLayout = e.target;
    } else {
      slideLayout = $ancestor(e.scope, "xSlideLayout") as xSlideLayout;
    }
    if (slideLayout) {
      slideLayout.doSlide(e.action);
    }
  });
</script>



<style lang="sass">
  @import ./_xi-components

  .xSlideLayout
    position: absolute
    width: 100%
    -webkit-transition: top 1s, left 1s
    transition: top 1s, left 1s
    height: 100%
    width: 100%
    top: 0
    left: 0

    &--horizontal
      white-space: nowrap
      font-size: 0
</style>
