<template lang="pug">
  .xSlidePage
    slot
</template>



<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";

  @Component
  export default class xSlidePage extends Vue {}
</script>



<style lang="sass">
  @import ./_xi-components

  .xSlidePage
    position: relative
    width: 100%
    height: 100%
    -webkit-transition: opacity 1s
    transition: opacity 1s

  .xSlideLayout--horizontal .xSlidePage
    display: inline-block // for horizontal layout
    font-size: 1rem //use default font-size, where to get from?
</style>
