<template lang="pug">
  .xStatablePanel(:class="statePnlCls",ref="main")
    .xStatablePanel__container
      .xStatablePanel__content(ref="container")
        slot
</template>



<script lang="ts">
  import { Component, Prop, Provide, Vue } from "vue-property-decorator";
  import { xi } from "../xi-libs/core";

  @Component
  export default class xStatablePanel extends Vue {

    isExtended: boolean = false;

    @Provide("statePnlCls") statePnlCls = "";
    @Prop(String) size!: string;
    @Prop(String) fixWidth!: string;
    @Prop(String) fixHeight!: string;
    @Prop(String) iconPadding!: string;

    mounted(){
      this.updateContentDimension();
      this.$el.addEventListener('click', e=>{
        this.isExtended = !this.isExtended;
        this.updateContentDimension();
        this.$el.classList.toggle('xStatablePanel--extended');
      });
      this.statePnlCls = `xStatablePanel--${this.size}`;
    }

    updateContentDimension(){
      let parent = this.$el.parentElement;
      if (parent!=null){
        let bounds = parent.getBoundingClientRect();
        let cWidth = this.fixWidth !== undefined ? parseInt(this.fixWidth) : bounds.width;
        let cHeight = this.fixHeight !== undefined ? parseInt(this.fixHeight) : bounds.height;
        let cPadding = this.iconPadding !== undefined ? parseInt(this.iconPadding) : 0;

        xi.$(this.$refs.container).css({
          width: cWidth+'px',
          height: cHeight+'px',
        });
        xi.$(this.$refs.main).css({
          width: (this.isExtended ? cWidth : 64)+'px',
          height: (this.isExtended ? cHeight : 64)+'px',
        });

        if(!this.isExtended){
        xi.$(this.$refs.container).css({
          top: '-'+cPadding + 'px',
          left: '-'+cPadding + 'px'
        });
        xi.$(this.$refs.main).css({
          top: cPadding + 'px',
          left: cPadding + 'px'
        });
        }
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  $xStatablePanelSizeDefs: (32px small) (40px smaller) (64px medium) (96px normal) (128px large)
  $xStatablePanelOffset: 0
  $xStatablePanelAnimSpeed: .75s

  .xStatablePanel
    +transition(all $xStatablePanelAnimSpeed, box-shadow $xStatablePanelAnimSpeed $xStatablePanelAnimSpeed)
    position: absolute
    top: 0
    left: 0
    width: 32px
    height: 32px
    &__container
      +transition(all $xStatablePanelAnimSpeed)
      overflow: hidden
      position: absolute
      top: 0
      left: 0
      width: 32px
      height: 32px
    &__content
      +transition(all $xStatablePanelAnimSpeed)
      background-color: var(--bg-default)
      position: absolute
      top: 0
      left: 0

    &--extended
      border-radius: 0 !important
      top: 0 !important
      left: 0 !important

      .xStatablePanel__container
        border-radius: 0 !important
        top: -$xStatablePanelOffset
        left: -$xStatablePanelOffset
        width: calc(100% + 64px) !important
        height: calc(100% + 64px) !important
      .xStatablePanel__content
        top: $xStatablePanelOffset !important
        left: $xStatablePanelOffset !important


    @each $sizeDef in $xStatablePanelSizeDefs
      $size: nth($sizeDef, 1)
      $label: nth($sizeDef, 2)
      &--#{$label}
        width: $size
        height: $size
        border-radius: $size

        .xStatablePanel__container
          border-radius: $size
          width: $size
          height: $size
</style>
