<template lang="pug">
  .xTab
    .xTab__label(v-text="label", @click="onClick", ref="tabLabel")
    .xTab__content(ref="tabContent")
        slot
</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import xTabbedPane from "./xTabbedPane.vue";

  @Component
  export default class xTab extends Vue {

    @Prop(String) label!: string;

    onClick() {
      let parent: xTabbedPane = this.$parent as xTabbedPane; // works with accordion instantly, so why is this cast not strict?
      parent.changeTab(this);
    }

    show() {
      this.setTabVisibility(true);
    }

    hide() {
      this.setTabVisibility(false);
    }

    setTabVisibility(isVisible: boolean) {
      (this.$refs.tabLabel as HTMLElement).classList[isVisible ? 'add' : 'remove']('xTab__label--selected');
      (this.$refs.tabContent as HTMLElement).style.display = isVisible
        ? "block"
        : "none";
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xTab
    &__label
      height: 24px
      cursor: pointer
    &__content
      display: none
</style>
