<template lang="pug">
  .xTabbedPane
    .xTabbedPane__tabs(ref="tabContainer")
    .xTabbedPane__contents(ref="contentContainer")
    slot

</template>



<script lang="ts">
  import { Component, Prop, Vue } from "vue-property-decorator";
  import xTab from "./xTab.vue";

  @Component
  export default class xTabbedPane extends Vue {
    currentTab: xTab | undefined;

    @Prop(String) selected!: string;

    changeTab(tab: xTab) {
      if (this.currentTab) {
        this.currentTab.hide();
      }
      this.currentTab = tab;
      if (this.currentTab) {
        this.currentTab.show();
      }
    }

    mounted() {
      let firstTab;
      let i = 0;
      let toSelect = this.selected ? parseInt(this.selected) : 0;

      this.$children.forEach(child => {
        if (i == toSelect) {
          firstTab = child;
        }
        (this.$refs.tabContainer as HTMLElement).appendChild(child.$refs
          .tabLabel as HTMLElement);
        (this.$refs.contentContainer as HTMLElement).appendChild(child.$refs
          .tabContent as HTMLElement);

        if (child.$el.parentNode) {
          child.$el.parentNode.removeChild(child.$el);
        }
        i++;
      });

      this.$children.splice(0, this.$children.length);

      if (firstTab) {
        this.changeTab(firstTab);
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xTabbedPane
    width: 100%
    position: relative
    &__tabs
    &__contents

    .xTab
      &__label
        +transition(all 0.3s)
        display: inline-block
        height: 48px
        line-height: 48px
        padding: 0 24px
        border-radius: 5px 5px 0 0
        &:hover
          background-color: var(--bg-control-lightest)
        &--selected
          font-weight: bold
          background-color: var(--bg-control-light)
          &:hover
            background-color: var(--bg-control-lighter)
      &__content
        background-color: var(--bg-control-light)
        display: none
        width: 100%
        height: 100%
        min-height: 128px
        padding: 10px
    &--vertical
      display: flex
      .xTabbedPane__tabs
        width: 256px
        flex: 0
        display: flex
        flex-direction: column

        .xTab__label
          display: block
          border-radius: 5px 0 0 5px
      .xTabbedPane__contents
        flex: 1
</style>
