<template lang="pug">
  div.xTextArea
    textarea(v-model="inputVal", @keydown="onKeyDown", :data-error="error")
    span.xTextArea__placeholder
      span {{ placeholderMsg }}
      span.fas.fa-times(style="cursor:pointer;", @click="onReset")
</template>



<script lang="ts">
  import { Component, Prop, Watch, Vue } from "vue-property-decorator";
  import { Is } from "../xi-libs/core";

  @Component
  export default class xTextArea extends Vue {
    inputVal: string = "";
    textArea: HTMLTextAreaElement | null = null;

    @Prop(String) text!: string;
    @Prop(String) value!: string;
    @Prop(String) placeholder!: string;
    @Prop(String) error!: string | undefined;

    @Watch("inputVal")
    onInputValChanged(val: string, oldVal: string) {
      this.$emit("input", val);
      this._updatePlaceholder();
    }

    @Watch("text")
    onTextChanged(val: string, oldVal: string) {
      this.inputVal = val;
    }

    onReset() {
      this.error = undefined;
    }

    onKeyDown(e) {
      // TAB support for textarea
      if (e.keyCode === 9 && this.textArea) {
        e.preventDefault();
        let value: string = this.inputVal;
        let start: any = this.textArea.selectionStart;
        let end: any = this.textArea.selectionEnd;

        this.inputVal = this.textArea.value =
          value.substring(0, start) + "\t" + value.substring(end);
        this.textArea.selectionStart = this.textArea.selectionEnd = start + 1;

        return false;
      }
    }

    get placeholderMsg() {
      return this.error || this.placeholder;
    }

    mounted() {
      if (this.$slots && this.$slots.default && this.$slots.default.length > 0) {
        let content: string = "";
        this.textArea = this.$el.getElementsByTagName(
          "textarea"
        )[0] as HTMLTextAreaElement;

        this.$slots.default.forEach(vnode => {
          content += vnode.text;
        });

        this.inputVal = this.textArea.value = content;
      }
      this._updatePlaceholder();
    }

    _updatePlaceholder() {
      if (Is.empty(this.inputVal)) {
        this.$el.classList.add("xTextArea--isEmpty");
      } else {
        this.$el.classList.remove("xTextArea--isEmpty");
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xTextArea
    width: 100%
    height: 100%
    position: relative
    background-color: var(--bg-textComponent-alpha)
    overflow: hidden

    &:hover &
      &__placeholder
        top: -2.8rem // 1.2 + 2* .8
        opacity: 0

    textarea
      background-color: transparent
      font-family: $theme_font--mono
      border: 1px solid var(--bg-input)
      padding: .8rem
      font-weight: bold
      font-size: 1.2rem
      outline: none
      position: relative
      width: 100%
      height: 100%
      color: var(--fg-default)

      &[data-error] ~ .xTextArea__placeholder
        background-color: rgba(238, 204, 204, 0.75)
        color: rgba(191, 0, 0, 0.75)
        top: 0
        opacity: 1
        font-style: normal
        font-weight: bold
      &[data-error] ~ .xTextArea__placeholder *:nth-child(2)
        display: inline-block

    &--isEmpty &
      &__placeholder
        top: 0

    &__placeholder
      +transition(all 0.3s)
      opacity: 1
      padding: .8rem
      font-style: italic
      font-size: 1.2rem
      position: absolute
      top: -2.8rem // 1.2 + 2* .8
      left: 0
      z-index: 0
      display: block
      color: var(--fg-control)
      width: 100%
      display: flex

      & *:nth-child(1)
        flex: 1

      & *:nth-child(2)
        flex: 0
        display: none
</style>
