<template lang="pug">
  .xThemeManager
    // TBD both buttons should be part of something more generic
    div
      xIconButton.xThemeManager__icon(icon="bug",size="small",event="app_debug")
      xIconButton.xThemeManager__icon(icon="power-off",size="small",event="app_exit")
    div
      xRadioButton(label="Light theme", event="xThemeManager__selectTheme", action="light", name="theme")
      xRadioButton(label="Dark theme", event="xThemeManager__selectTheme", action="dark", name="theme", checked="true")
    xScrollPane
      ul(style="padding-left: 0;")
        li.xThemeManager__entry(v-for='themeParameter in themeParameters')
          span.xThemeManager__label {{ themeParameter.key }}
          xColorPicker(:id="themeParameter.key", :color="themeParameter.value")
</template>



<script lang="ts">
  import { remote } from "electron";
  import { Component, Provide, Vue } from "vue-property-decorator";
  import { xi, Styles, $on } from "../xi-libs/core";

  @Component
  export default class xThemeManager extends Vue {
    themeClass: String = "dark";
    themeStyle!: any;

    @Provide("themeParameters") themeParameters: Array<any> = [];

    mounted() {
      $on("app_debug", e => remote.getCurrentWindow().webContents.openDevTools());
      $on("app_exit", e => remote.getCurrentWindow().close());
      $on("xThemeManager__selectTheme", e => {
        xi.$(this.$root) //
          .class("-theme--" + this.themeClass)
          .class("+theme--" + (this.themeClass = e.action));
        this.loadThemeParameters();
      });
      $on("xColorPicker_colorChanged", e => {
        this.themeStyle.set(e.action.id, e.color);
      });

      this.loadThemeParameters();
    }

    loadThemeParameters() {
      this.themeStyle = Styles.getStyle(".theme--" + this.themeClass);
      this.themeParameters = [];

      for (let i = 0; i < this.themeStyle.css.length; i++) {
        this.themeParameters.push({
          key: this.themeStyle.css[i],
          value: this.themeStyle.get(this.themeStyle.css[i])
        });
      }
    }
  }
</script>



<style lang="sass">
  @import ./_xi-components

  .xThemeManager
    &__entry
      display: flex
      justify-content: space-between
    &__label
      display: inline-block
      font-size: 1.1rem
      line-height: 32px
      height: 32px
</style>
