<template lang="pug">
  #app.theme--dark.xDebug_
    link(
      rel="stylesheet"
      href="/static/fonts/fontawesome-free/css/all.css"
    )
    xFxManager(goo)
    xSlideLayout(layout="horizontal", slideTime="1000ms")
      xSlidePage
        xContainer.contentLayer
          FlipBook
        xContainer.ui__layer
    .app__border
</template>



<script lang="ts">
  import Vue from "../xi-components/_xi-components";
  import { Component } from 'vue-property-decorator';

  // application widgets
  import FlipBook from "./apps/FlipBook.vue";

  // load plugins
  import FxHighlight from "../xi-components/_plugin-fx-highlight";
  import FxRipple from "../xi-components/_plugin-fx-ripple";
  import Lazy from "../xi-components/_plugin-lazy";

  Vue.use(FxHighlight);
  Vue.use(FxRipple);
  Vue.use(Lazy);

  @Component({
    components: {
      FlipBook
    }
  })
  export default class App extends Vue { }
</script>



<style lang="sass">
  @import ../xi-components/_xi-components
  @import ../xi-components/_xi-mixins


  @font-face
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('/static/fonts/ubuntu-v12-latin-regular.woff2') format('woff2'), url('/static/fonts/ubuntu-v12-latin-regular.woff') format('woff')

  //
  //
  // tags & app
  *
    box-sizing: border-box
    font-family: $theme_font--default

  html
    font-size: $theme_font_size--default

  body
    margin: 0
    overflow: hidden

  #app
    +font-antialiased
    +size(100vw, 100vh)
    color: var(--fg-default)
    background-color: var(--bg-default)
  .app__icon
    position: relative
    width: 26px
    height: 26px
    left: 7px
    top: 9px
    background: url("/static/app.ico") no-repeat scroll center center rgba(0, 0, 0, 0)
    background-size: 90% 90%
  .app--blurred
    +filter(blur(5px) saturate(25%) brightness(50%))
  .app__dragHandle
    +bounds(0, 64px, 256px, 64px)
    position: absolute
    background: radial-gradient(ellipse at 50% 0, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 50%)
    z-index: 3000
    -webkit-app-region: drag // spepcial instruction for electorn to make this the draggable element for frameless windows
  .app__border
    +bounds(0, 0, 100vw, 100vh)
    position: absolute
    border: 1px solid var(--brd-app)
    pointer-events: none
    z-index: 50000



  //
  //
  // ui
  .ui
    &__layer
      display: grid
      grid-template-columns: auto 35px 35px
      grid-template-rows: 64px auto
      grid-template-areas: "title prev next" "content content content"
      z-index: 10
    &__nav
      &_next
        grid-area: next
      &_prev
        grid-area: prev
</style>
